 <footer>
          <div class="pull-right">
            Repay_Bank -  Admin Template by @DateTime.Now.Year -Tum haklari saklidir.-
          </div>
          <div class="clearfix"></div>
        </footer>